// formate style 80 70 60 40 30 20
$shades: (
  gray: (
    100: #e6e6e6,
    200: #cccccc,
    300: #b3b3b3,
    400: #999999,
    500: #808080,
    600: #666666,
    700: #4d4d4d,
    800: #333333,
    900: #2b2b2b,
  ),
  pink: (
    100: #fbd0e8,
    200: #f7a1d0,
    300: #f372b9,
    400: #ef43a2,
    500: #eb148a,
    600: #bc106f,
    700: #8d0c53,
    800: #5e0837,
    900: #2f041c,
  ),
  roseWood: (
    100: #f0dbdb,
    200: #e1b7b7,
    300: #d39292,
    400: #c46e6e,
    500: #b54a4a,
    600: #913b3b,
    700: #6d2c2c,
    800: #481e1e,
    900: #240f0f,
  ),
  purple: (
    100: #efd5f6,
    200: #deacec,
    300: #ce82e3,
    400: #bd59d9,
    500: #ad2fd0,
    600: #8a26a6,
    700: #681c7d,
    800: #451353,
    900: #23092a,
  ),
  lightBlue: (
    100: #ccf2ff,
    200: #99e6ff,
    300: #66d9ff,
    400: #33ccff,
    500: #00bfff,
    600: #0099cc,
    700: #007399,
    800: #004d66,
    900: #002633,
  ),
  green: (
    100: #d5f6e3,
    200: #acecc7,
    300: #82e3aa,
    400: #59d98e,
    500: #2fd072,
    600: #26a65b,
    700: #1c7d44,
    800: #13532e,
    900: #092a17,
  ),
  orange: (
    100: #ffedcc,
    200: #ffdb99,
    300: #ffc966,
    400: #ffb833,
    500: #ffa600,
    600: #cc8500,
    700: #996300,
    800: #664200,
    900: #332100,
  ),
);
