$s8raw: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

$boxShadow: (
  s1: rgba(149, 157, 165, 0.2) 0px 8px 24px,
  s2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px,
  s3: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px,
  s4: rgba(0, 0, 0, 0.35) 0px 5px 15px,
  s5: rgba(0, 0, 0, 0.16) 0px 1px 4px,
  s6: rgba(0, 0, 0, 0.24) 0px 3px 8px,
  s7: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px,
  s8: (
    rgba(0, 0, 0, 0.16) 0px 1px 4px,
    rgb(51, 51, 51) 0px 0px 0px 3px,
  ),
);
