* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: none;
  outline: none;
}

:root {
  /*----------< colors >----------*/
  --clr-primary: var(--clr-green);
  --clr-secondary: var(--clr-purple);
  /*----------< colors >----------*/
  --clr-black: #000000;
  --clr-white: #f1f1f1;
  --clr-gray: #808080;
  --clr-cloud: #c6c6d0;
  --clr-pink: #f69acd;
  --clr-roseWood: #a04242;
  --clr-ocean: #016064;
  --clr-red: #ff0000;
  --clr-purple: #a32cc4;
  --clr-blue: #0000ff;
  --clr-lightBlue: #009fd4;
  --clr-skyBlue: #87ceeb;
  --clr-yellow: #ffce45;
  --clr-orange: #ffa500;
  --clr-green: #27ae60;
  /*----------< shades >----------*/
  --clr-gray-100: #e6e6e6;
  --clr-gray-200: #cccccc;
  --clr-gray-300: #b3b3b3;
  --clr-gray-400: #999999;
  --clr-gray-500: #808080;
  --clr-gray-600: #666666;
  --clr-gray-700: #4d4d4d;
  --clr-gray-800: #333333;
  --clr-gray-900: #2b2b2b;
  --clr-pink-100: #fbd0e8;
  --clr-pink-200: #f7a1d0;
  --clr-pink-300: #f372b9;
  --clr-pink-400: #ef43a2;
  --clr-pink-500: #eb148a;
  --clr-pink-600: #bc106f;
  --clr-pink-700: #8d0c53;
  --clr-pink-800: #5e0837;
  --clr-pink-900: #2f041c;
  --clr-roseWood-100: #f0dbdb;
  --clr-roseWood-200: #e1b7b7;
  --clr-roseWood-300: #d39292;
  --clr-roseWood-400: #c46e6e;
  --clr-roseWood-500: #b54a4a;
  --clr-roseWood-600: #913b3b;
  --clr-roseWood-700: #6d2c2c;
  --clr-roseWood-800: #481e1e;
  --clr-roseWood-900: #240f0f;
  --clr-purple-100: #efd5f6;
  --clr-purple-200: #deacec;
  --clr-purple-300: #ce82e3;
  --clr-purple-400: #bd59d9;
  --clr-purple-500: #ad2fd0;
  --clr-purple-600: #8a26a6;
  --clr-purple-700: #681c7d;
  --clr-purple-800: #451353;
  --clr-purple-900: #23092a;
  --clr-lightBlue-100: #ccf2ff;
  --clr-lightBlue-200: #99e6ff;
  --clr-lightBlue-300: #66d9ff;
  --clr-lightBlue-400: #33ccff;
  --clr-lightBlue-500: #00bfff;
  --clr-lightBlue-600: #0099cc;
  --clr-lightBlue-700: #007399;
  --clr-lightBlue-800: #004d66;
  --clr-lightBlue-900: #002633;
  --clr-green-100: #d5f6e3;
  --clr-green-200: #acecc7;
  --clr-green-300: #82e3aa;
  --clr-green-400: #59d98e;
  --clr-green-500: #2fd072;
  --clr-green-600: #26a65b;
  --clr-green-700: #1c7d44;
  --clr-green-800: #13532e;
  --clr-green-900: #092a17;
  --clr-orange-100: #ffedcc;
  --clr-orange-200: #ffdb99;
  --clr-orange-300: #ffc966;
  --clr-orange-400: #ffb833;
  --clr-orange-500: #ffa600;
  --clr-orange-600: #cc8500;
  --clr-orange-700: #996300;
  --clr-orange-800: #664200;
  --clr-orange-900: #332100;
  /*----------< gradient backgrounds >----------*/
  --circle-s1: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.08) 75%, rgba(138, 138, 138, 0.08) 89%, rgba(158, 158, 158, 0.26) 89%, rgba(158, 158, 158, 0.26) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
  /*----------< box shadows >----------*/
  --box-shadow-s1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-s2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --box-shadow-s3: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --box-shadow-s4: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --box-shadow-s5: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-s6: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-s7: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-s8: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.text-gray-100 {
  color: #e6e6e6;
}

.text-gray-200 {
  color: #cccccc;
}

.text-gray-300 {
  color: #b3b3b3;
}

.text-gray-400 {
  color: #999999;
}

.text-gray-500 {
  color: #808080;
}

.text-gray-600 {
  color: #666666;
}

.text-gray-700 {
  color: #4d4d4d;
}

.text-gray-800 {
  color: #333333;
}

.text-gray-900 {
  color: #2b2b2b;
}

.text-pink-100 {
  color: #fbd0e8;
}

.text-pink-200 {
  color: #f7a1d0;
}

.text-pink-300 {
  color: #f372b9;
}

.text-pink-400 {
  color: #ef43a2;
}

.text-pink-500 {
  color: #eb148a;
}

.text-pink-600 {
  color: #bc106f;
}

.text-pink-700 {
  color: #8d0c53;
}

.text-pink-800 {
  color: #5e0837;
}

.text-pink-900 {
  color: #2f041c;
}

.text-roseWood-100 {
  color: #f0dbdb;
}

.text-roseWood-200 {
  color: #e1b7b7;
}

.text-roseWood-300 {
  color: #d39292;
}

.text-roseWood-400 {
  color: #c46e6e;
}

.text-roseWood-500 {
  color: #b54a4a;
}

.text-roseWood-600 {
  color: #913b3b;
}

.text-roseWood-700 {
  color: #6d2c2c;
}

.text-roseWood-800 {
  color: #481e1e;
}

.text-roseWood-900 {
  color: #240f0f;
}

.text-purple-100 {
  color: #efd5f6;
}

.text-purple-200 {
  color: #deacec;
}

.text-purple-300 {
  color: #ce82e3;
}

.text-purple-400 {
  color: #bd59d9;
}

.text-purple-500 {
  color: #ad2fd0;
}

.text-purple-600 {
  color: #8a26a6;
}

.text-purple-700 {
  color: #681c7d;
}

.text-purple-800 {
  color: #451353;
}

.text-purple-900 {
  color: #23092a;
}

.text-lightBlue-100 {
  color: #ccf2ff;
}

.text-lightBlue-200 {
  color: #99e6ff;
}

.text-lightBlue-300 {
  color: #66d9ff;
}

.text-lightBlue-400 {
  color: #33ccff;
}

.text-lightBlue-500 {
  color: #00bfff;
}

.text-lightBlue-600 {
  color: #0099cc;
}

.text-lightBlue-700 {
  color: #007399;
}

.text-lightBlue-800 {
  color: #004d66;
}

.text-lightBlue-900 {
  color: #002633;
}

.text-green-100 {
  color: #d5f6e3;
}

.text-green-200 {
  color: #acecc7;
}

.text-green-300 {
  color: #82e3aa;
}

.text-green-400 {
  color: #59d98e;
}

.text-green-500 {
  color: #2fd072;
}

.text-green-600 {
  color: #26a65b;
}

.text-green-700 {
  color: #1c7d44;
}

.text-green-800 {
  color: #13532e;
}

.text-green-900 {
  color: #092a17;
}

.text-orange-100 {
  color: #ffedcc;
}

.text-orange-200 {
  color: #ffdb99;
}

.text-orange-300 {
  color: #ffc966;
}

.text-orange-400 {
  color: #ffb833;
}

.text-orange-500 {
  color: #ffa600;
}

.text-orange-600 {
  color: #cc8500;
}

.text-orange-700 {
  color: #996300;
}

.text-orange-800 {
  color: #664200;
}

.text-orange-900 {
  color: #332100;
}

.bg-gray-100 {
  background-color: #e6e6e6;
}

.bg-gray-200 {
  background-color: #cccccc;
}

.bg-gray-300 {
  background-color: #b3b3b3;
}

.bg-gray-400 {
  background-color: #999999;
}

.bg-gray-500 {
  background-color: #808080;
}

.bg-gray-600 {
  background-color: #666666;
}

.bg-gray-700 {
  background-color: #4d4d4d;
}

.bg-gray-800 {
  background-color: #333333;
}

.bg-gray-900 {
  background-color: #2b2b2b;
}

.bg-pink-100 {
  background-color: #fbd0e8;
}

.bg-pink-200 {
  background-color: #f7a1d0;
}

.bg-pink-300 {
  background-color: #f372b9;
}

.bg-pink-400 {
  background-color: #ef43a2;
}

.bg-pink-500 {
  background-color: #eb148a;
}

.bg-pink-600 {
  background-color: #bc106f;
}

.bg-pink-700 {
  background-color: #8d0c53;
}

.bg-pink-800 {
  background-color: #5e0837;
}

.bg-pink-900 {
  background-color: #2f041c;
}

.bg-roseWood-100 {
  background-color: #f0dbdb;
}

.bg-roseWood-200 {
  background-color: #e1b7b7;
}

.bg-roseWood-300 {
  background-color: #d39292;
}

.bg-roseWood-400 {
  background-color: #c46e6e;
}

.bg-roseWood-500 {
  background-color: #b54a4a;
}

.bg-roseWood-600 {
  background-color: #913b3b;
}

.bg-roseWood-700 {
  background-color: #6d2c2c;
}

.bg-roseWood-800 {
  background-color: #481e1e;
}

.bg-roseWood-900 {
  background-color: #240f0f;
}

.bg-purple-100 {
  background-color: #efd5f6;
}

.bg-purple-200 {
  background-color: #deacec;
}

.bg-purple-300 {
  background-color: #ce82e3;
}

.bg-purple-400 {
  background-color: #bd59d9;
}

.bg-purple-500 {
  background-color: #ad2fd0;
}

.bg-purple-600 {
  background-color: #8a26a6;
}

.bg-purple-700 {
  background-color: #681c7d;
}

.bg-purple-800 {
  background-color: #451353;
}

.bg-purple-900 {
  background-color: #23092a;
}

.bg-lightBlue-100 {
  background-color: #ccf2ff;
}

.bg-lightBlue-200 {
  background-color: #99e6ff;
}

.bg-lightBlue-300 {
  background-color: #66d9ff;
}

.bg-lightBlue-400 {
  background-color: #33ccff;
}

.bg-lightBlue-500 {
  background-color: #00bfff;
}

.bg-lightBlue-600 {
  background-color: #0099cc;
}

.bg-lightBlue-700 {
  background-color: #007399;
}

.bg-lightBlue-800 {
  background-color: #004d66;
}

.bg-lightBlue-900 {
  background-color: #002633;
}

.bg-green-100 {
  background-color: #d5f6e3;
}

.bg-green-200 {
  background-color: #acecc7;
}

.bg-green-300 {
  background-color: #82e3aa;
}

.bg-green-400 {
  background-color: #59d98e;
}

.bg-green-500 {
  background-color: #2fd072;
}

.bg-green-600 {
  background-color: #26a65b;
}

.bg-green-700 {
  background-color: #1c7d44;
}

.bg-green-800 {
  background-color: #13532e;
}

.bg-green-900 {
  background-color: #092a17;
}

.bg-orange-100 {
  background-color: #ffedcc;
}

.bg-orange-200 {
  background-color: #ffdb99;
}

.bg-orange-300 {
  background-color: #ffc966;
}

.bg-orange-400 {
  background-color: #ffb833;
}

.bg-orange-500 {
  background-color: #ffa600;
}

.bg-orange-600 {
  background-color: #cc8500;
}

.bg-orange-700 {
  background-color: #996300;
}

.bg-orange-800 {
  background-color: #664200;
}

.bg-orange-900 {
  background-color: #332100;
}