// imports
@use "./imports/base/base" as *;

@use "./imports/colors/colors" as *;
@use "./imports/shades/shades" as *;
@use "./imports/background/textureBackgrounds" as *;
@use "./imports/shadow/boxShadows" as *;
@use "./imports/themes/themes" as *; //

// Custom files import
@use "./imports/custom/classes/property-classes/display-property-classes" as *;

:root {
  /*----------< colors >----------*/
  --clr-primary: var(--clr-green);
  --clr-secondary: var(--clr-purple);

  /*----------< colors >----------*/
  @each $colors, $value in $colors {
    --clr-#{$colors}: #{$value};
  }

  /*----------< shades >----------*/
  @each $color, $shades in $shades {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }

  /*----------< gradient backgrounds >----------*/
  @each $shape, $gradients in $bg {
    @each $gradient-name, $gradient-value in $gradients {
      --#{$shape}-#{$gradient-name}: #{$gradient-value};
    }
  }

  /*----------< box shadows >----------*/
  @each $key, $value in $boxShadow {
    --box-shadow-#{$key}: #{$value};
  }

  //   --image-shadow: 0 1px 7px rgb(0, 0, 0, 0.5);
}

// Import text or fonts color shades for color classes
@each $color, $shades in $shades {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: #{$value};
    }
  }
}

// import shades as class names as background colors
@each $color, $shades in $shades {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: #{$value};
    }
  }
}

// For loop for creating "Padding" and "Margin" propertie classes 0 t0 300px
@for $i from 0 through 300 {
  .padding-#{$i}px {
    padding: 0px + $i;
  }

  .p-left-#{$i}px {
    padding-left: 0px + $i;
  }

  .p-top-#{$i}px {
    padding-top: 0px + $i;
  }

  .p-bottom-#{$i}px {
    padding-bottom: 0px + $i;
  }

  .p-right-#{$i}px {
    padding-right: 0px + $i;
  }

  .pl-pr-#{$i}px {
    padding-left: 0px + $i;
    padding-right: 0px + $i;
  }

  .pt-pb-#{$i}px {
    padding-top: 0px + $i;
    padding-bottom: 0px + $i;
  }

  // margin
  .margin-#{$i}px {
    margin: 0px + $i;
  }

  .m-top-#{$i}px {
    margin-top: 0px + $i;
  }

  .m-bootom-#{$i}px {
    margin-bottom: 0px + $i;
  }

  .m-left-#{$i}px {
    margin-left: 0px + $i;
  }

  .m-right-#{$i}px {
    margin-right: 0px + $i;
  }

  .ml-mr-#{$i}px {
    margin-left: 0px + $i;
    margin-right: 0px + $i;
  }

  .mt-mb-#{$i}px {
    margin-top: 0px + $i;
    margin-bottom: 0px + $i;
  }
}

// import all custom display classes
@each $propertyKey, $propertyValues in $property {
  @each $value in $propertyValues {
    .#{$propertyKey}#{$value} {
      display: #{$value};
    }
  }
}

@each $propertyKey, $propertyValues in $property- {
  @each $value in $propertyValues {
    .#{$propertyKey}#{$value} {
      display: #{$value};
    }
  }
}
