$property: (
  d: (
    block,
    contents,
    flex,
    flexbox,
    flow-root,
    grid,
    inline,
    inline-block,
    inline-flex,
    inline-flex-box,
    inline-table,
    list-item,
    none,
    ruby,
    ruby-base,
    ruby-base-container,
    ruby-text,
    ruby-text-container,
    ru-in,
    table,
    table-caption,
    table-cell,
    table-column,
    table-column-group,
    table-footer-group,
    table-header-group,
    table-row,
    table-row-group,
  ),
);

$property-: (
  d: (
    -moz-box,
    -moz-deck,
    -moz-grid,
    -moz-grid-group,
    -moz-grid-line,
    -moz-groupbox,
    -moz-inline-box,
    -moz-inline-grid,
    -moz-inline-stack,
    -moz-marker,
    -moz-popup,
    -moz-stack,
    -ms-flexbox,
    -ms-grid,
    -ms-inline-flexbox,
    -ms-inline-grid,
    -webkit-box,
    -webkit-flex,
    -webkit-inline-box,
    -webkit-inline-flex,
  ),
);
