$colors: (
  black: #000000,
  white: #f1f1f1,
  red: #ff0000,
  gray: gray,
  pink: #c061a0,
  purple: #800080,
  blue: #0000ff,
  lightBlue: #009fd4,
  skyBlue: #87ceeb,
  yellow: #ffce45,
  orange: #ffa500,
  green: #27ae60,
);
